body {
  background-color: hsl(30, 38%, 92%);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.preview {
  box-sizing: border-box;
  background-color: hsl(0, 0%, 100%);
  margin: 100px;
  display: flex;
  justify-content: space-between;
  flex:1;
max-width: 1750px;
}

.perfume-img{
  max-height: 770px;
}
.text {
  padding-top: 3%;
  padding-left: 5%;
  font-family: 'Montserrat', sans-serif;
  width: 45%;
  background-color: white;
  min-width: 38.5rem;

}

h1 {
  font-family: 'Fraunces', serif;
  font-size: 5.625rem;
  margin-top: 2%;
  line-height: 1em;

}

p {
  color: hsl(228, 12%, 48%);
}

.description {
  font-size: 1.2em;
  word-spacing: 0.65em;
  line-height: 1.5em;
}

.price {
  font-family: 'Fraunces', serif;
  font-size: 3.75rem;
  display: inline-block;
  color: hsl(158, 36%, 37%);
}

h2 {
  margin: 1.5% auto 3.5%;
  display: inline-block;
}

.category {
  letter-spacing: 0.8rem;
}

.mrp {
  font-family: 'Fraunces', serif;
  color: black;
  font-size: 1.2rem;
  left:0.7em;
  top: 40%;
  text-decoration: line-through;
  position: relative;
  bottom: 16px;
}

.cart {
  width: 45%;
  background-color: hsl(158, 36%, 37%);
  border-radius: 4%;
  padding: 20px 85px;
  font-size: 0.938rem;
  color: white;
  text-align: center;
  font-weight: bold;
  margin-top: 0;
  text-decoration: none;
}

.cart-img {
  margin-right: 10px;
}
@media (max-width:890px){
  .preview{
    flex-direction: column;
  }
  body{
  padding-left: 250px;

}
  .perfume-img{
  width: 100vh;
}
  .text{
    padding: 1% 0 5% 6%;
  max-width: 800px;
  }
}
